<div class="about-container">

    <h1>What are Pokémon?</h1>

    <p>Pokémon are fictional creatures that are central to the Pokémon franchise. There are currently 913 known species
        that inhabit the Pokémon world; however, it is implied that there are more waiting to be discovered. Inherent to
        them are several fantastic powers not demonstrated by most real animals, such as the manipulation of
        elements/aspects of life, such as electricity or fire. Pokémon are shown to exist instead of animals in their
        world, although animals are also seldom seen in older media.</p>

    <p>While most Pokémon resemble animals and may behave like them, there are many that do not resemble animals at
        all, taking on other forms such as plants, inanimate objects, machines, human-like forms, or other more
        enigmatic and exotic appearances. Pokémon inhabit an extremely diverse range of habitats, ranging from the
        driest deserts to the lushest jungles, the deepest oceans to the highest mountains and everything else in
        between, even outer space and other dimensions. Pokémon take up various ways of living in those places. However,
        all can be befriended and made into potential allies and share the ability to shrink down small enough to fit
        into a Poké Ball.</p>

    <p>Many Pokémon are able to evolve from or into other Pokémon, a process that typically makes them larger and
        stronger, and more closely resembles growth and development or metamorphosis rather than evolution in the real
        world. Pokémon typically know several techniques that they can use in battle or elsewhere, either to defend
        themselves or their Trainer, or to perform a task. In the anime, most Pokémon are known only to say their name.
        In the games, each Pokémon has a distinct voice associated with each species.</p>

    <h1>What is a Pokédex?</h1>

    <p>A Pokédex is an electronic device created and designed to catalog and provide information regarding the various
    species of Pokémon featured in the Pokémon video game, anime and manga series. The name Pokédex is a neologism
    including "Pokémon" (which itself is a portmanteau of "pocket" and "monster") and "index". The Japanese name is
    simply "Pokémon Encyclopedia", as it can feature every Pokémon on it, depending on the Pokédex.</p>

    <h2>More info:</h2>

    <h3><a href="https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species)" target="_blank">About Pokémon</a></h3>

    <h3><a href="https://pokemon.fandom.com/wiki/Pok%C3%A9dex" target="_blank">About Pokédex</a></h3>

</div>