<div class="home-container" [style.background-image]="'url(/assets/img/red.jpg)'">

    <div class="greeting-container">

        <h1>Greetings Pokémon lover!</h1>

        <h2>Welcome to my Pokédex app <img src="assets/img/avatar.png" style="width: 32px;"></h2>

        <h3>Click on the menu button (the button at the top left) to open the application menu and navigate between the
            different sections of the application. If you are still not sure what a Pokédex is (or what Pokémon are), I
            recommend that you visit the "ABOUT" section first. If, on the other hand, you are a Pokémon connoisseur, then
            I recommend that you go straight to the "POKÉDEX" section to see all the information about the 151 Pokémon
            of the first generation.</h3>

    </div>

</div>